@page "/my-playlists"
@using Clipify.Domain.Entities
@using Clipify.Web.Services
@using System.Collections.ObjectModel

@inject PlaylistsService _playlistService

<h3>MyPlaylists</h3>

<div class="container flex flex-wrap flex-auto">
    @foreach (var playlist in _playlists)
    {
        var currentPlaylist = playlist;

        <div class="max-w-sm m-3 rounded overflow-hidden shadow-lg">
            <div class="px-6 py-4">
                <div class="font-bold text-xl mb-2 text-center h-12 min-h-full">@playlist.Title</div>
                <div>@playlist.Id / @playlist.PlaylistId</div>
                <div>Tracks: @(playlist.TrackIds.Count())</div>
            </div>
            <div class="text-center my-2">
                <button class="px-5 py-2 uppercase text-white font-medium rounded-3xl bg-red-500 shadow-md m-auto"
                        @onclick="@(() => DeleteAsync(currentPlaylist.Id))">
                    Delete
                </button>
                <button class="px-5 py-2 uppercase text-white font-medium rounded-3xl bg-green-500 shadow-md m-auto"
                        @onclick="@(() => ForkAsync(currentPlaylist.Title, currentPlaylist.Id))">
                    Fork
                </button>
            </div>
        </div>
    }
</div>

@code
{
    private ObservableCollection<Playlist> _playlists = new ObservableCollection<Playlist>();

    protected override async Task OnInitializedAsync()
    {
        var response = await _playlistService.GetLocalPlaylists();

        _playlists = new ObservableCollection<Playlist>(response);
    }

    private async Task DeleteAsync(string id)
    {
        await _playlistService.DeleteLocalPlaylist(id);
    }

    private async Task ForkAsync(string name, string id)
    {
        //await _mediator.Send(new ForkPlaylist.Request(name, id));
    }
}
