@page "/playlists"
@using MediatR
@using Clipify.Application.Playlists.Models
@using Clipify.Application.Playlists.Requests.GetPlaylists
@using Clipify.Application.Playlists.Commands.SavePlaylist

@inject IMediator _mediator

<div class="container m-auto flex flex-wrap justify-center">
    @foreach (var playlist in _playlists)
    {
        <div class="max-w-sm m-3 rounded overflow-hidden shadow-lg">
            @if (playlist.Images.Any())
            {
                <img class="w-full" src="@playlist.Images.FirstOrDefault()?.Url" alt="Cover">
            }
            else
            {
                <img class="w-full" src="https://via.placeholder.com/384" alt="Cover"/>
            }
            <div class="px-6 py-4">
                <div class="font-bold text-xl mb-2 text-center h-12 min-h-full">@playlist.Name</div>
                <div class="text-sm py-3 text-gray-500 h-20 min-h-full">@((MarkupString)playlist.Description)</div>
            </div>
            <div class="flex justify-center items-center my-2">
                <button type="button" class="px-5 py-2 uppercase text-white font-medium rounded-3xl bg-green-500 shadow-md m-auto"
                        @onclick="@(() => SavePlaylistAsync(playlist))">
                    Save Playlist
                </button>
                <NavLink href="@("Playlist/" + playlist.Id)" Match="NavLinkMatch.Prefix" class="px-5 py-2 uppercase text-gray-900 font-medium rounded-3xl border border-green-500">
                    Info
                </NavLink>
            </div>
            

        </div>
    }
</div>

@code
{
    private IEnumerable<PlaylistViewModel> _playlists = Enumerable.Empty<PlaylistViewModel>();

    protected override async Task OnInitializedAsync()
    {
        _playlists = await _mediator.Send(new GetPlaylists.Request());
    }

    private Task SavePlaylistAsync(PlaylistViewModel playlist)
        => _mediator.Send(new SavePlaylist.Command
        {
            PlaylistId = playlist.Id,
            SnapshotId = playlist.SnapshotId,
            Title = playlist.Name
        });
}
